<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <%= link_to "AYBAMS", root_path, class: "navbar-brand fw-bold" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li>
      </ul>
      
      <%= render 'shared/search_form' %>
      <%= render 'shared/user_menu' %>
    </div>
  </div>
</nav>
